@import "tailwindcss";

:root {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(14.5% 0 0);
  --primary: oklch(14.5% 0 0);
  --secondary: oklch(98.5% 0 0);
  --border: oklch(87.1% 0.006 286.286);
}

.dark {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(14.5% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
